
body {
  background-color: rgb(50, 140, 180);
}
.wrapper {
  margin: 40px;
}

.header {
  width: 95%;
  height: 100px;
  margin: 0 auto;
  background-color: seashell;
  font-size: 60px;
  line-height: 100px;
  text-align: center;
  border-radius: 20px;
}

.navbar {
  width: 95%;
  height: 40px;
  margin: 20px auto;
  background-color: seashell;
  border-radius: 10px;
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  line-height: 40px;
}

.nav-item {
  color: black;
  margin: 0 30px;
  text-align: center;
  text-decoration: none;
}

.nav-item:hover {
  font-size: 32px;
}

.banner {
  margin: 0 auto;
  text-align: center;
}

.card {
  display: block;
  width: 90%;
  background-color: seashell;
  margin: 20px auto;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  line-height: 40px;
}

.card-content {
  text-decoration: none;
  color: black;
}

.user {
  font-weight: 700;
  font-size: 22px;
}

.body {
  font-size: 22px;
  font-weight: 300;
}

.date {
  color: gray;
  font-size: 14px;
}
.comment-sheet {
  display: block;
  width: 90%;
  background-color: seashell;
  margin: 20px auto;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  line-height: 40px;

}

.comment {
  display: block;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid lightgray;
}

.post-button {
  display: block;
  width: 60%;
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 4px;
  background-color: lightgray;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
}

.post-form {
  display: block;
  width: 90%;
  background-color: seashell;
  margin: 20px auto;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  line-height: 40px;
}